<!DOCTYPE html>
<!-- arrow함수 추가 -->
<%
function arrow(depth){  <!-- resouce.js에서 만든 /arrow -->
	var rs = "<img src='/arrow' width='20px' height='20px'/>";
	var nbsp = "&nbsp;&nbsp;&nbsp;&nbsp;";
	
	var ts = "";
	for( i = 0;i < depth; i++){
		ts += nbsp;
	}	
	return depth==0?"":ts + rs;
}
%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bbslist</title>
</head>
<body>
    <h1>게시판</h1>
                <!-- json넘긴 데이터: user -->
    <h3>환영합니다. <%=user %>님 반갑습니다.</h3>

    <table border="1">
    <col width="70"> <col width="500"> <col width="150">
    <tr>
        <th>번호</th><th>제목</th><th>작성자</th>
    </tr>
    <!-- json에서 넘긴데이터 : datas -->
    <!-- for(data in datas)  아래와 동일한 코드-->
    <% datas.forEach(function(data, index){ %>
    <tr>
        <td><%=index +1 %></td>
        <td>
            <!-- 댓글이미지(depth, img) -->
            <%-arrow(data.DEPTH) %>
            <!-- 제목 -->
            <a href="/bbsdetail?seq=<%=data.SEQ%>"><%=data.TITLE %></a>
        </td>
        <td><%=data.ID %></td>
    </tr>
    <% })%>
    </table>
    <a href="bbswrite">글쓰기</a>
</body>
</html>